* {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin-left: 25px;
    margin-right: 25px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

/* En tete */

/* Logo + Liens */
.conteneur_entete {
    display: flex;
    justify-content: space-between;
    background-color: yellow;
}

.conteneur_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteneur_lien {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 10px;
    width: 25%;
}

.barre_lien {
    padding-top: 10px;
}
.barre_lien:hover {
    border-top: 2px solid #0065FC;
}

.conteneur_recherche {
    display: flex;
    width: 377px;
    height: 49px;
    border: 3px solid #F2F2F2;
    border-radius: 15px;
}

.icone_recherche {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 49px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.barre_recherche {
    width: 195px;
    height: 49px;
    border-width: 0px;
}

.barre_recherche::placeholder {
    text-align: center;
    font-weight: 900;
    color: black;
}

.bouton_recherche {
    width: 132px;
    height: 49px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-radius: 0px 15px 15px 0px;
    border: none;
}

.conteneur_filtre {
    display: flex;
    gap: 15px;
    width: 758px;
    height: 50px;
    margin-top: 35px;
}

.deuxieme_titre {
    display: flex;
    align-items: center;
}

.filtre {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 17px;
}

.filtre:hover {
    background-color: #DEEBFF;
}

.icone_reglage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}

.bordure_filtre {
    border: 2px solid #F2F2F2;
    border-radius: 25px;
}

.conteneur_information {
    display: flex;
    align-items: center;
    height: 24px;
    gap: 10px;
    margin-top: 35px;
    font-size: 16px;
}

.icone_information {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid #F2F2F2;
    border-radius: 50px;
}

/* Hebergement + Populaire */
.conteneur_principal {
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
}

/* Hebergement */

.neutral-star {
    color: var(--main-bg-color);
}

.conteneur_hebergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 62%;
    padding: 15px;
    border-radius: 15px;
    background-color: aqua;
}

.carte_hebergement {
    box-shadow: 5px 5px 5px grey;
    width: 30%;
    padding: 5px;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 15px;
}

.carte_hebergement:hover {
    transform: scale(1.05);
}
.carte_hebergement img {
    /* La ligne de dessous est magique */
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.intitule_hebergement {
    width: 100%;
    margin-left: 10px;
}

.intitule_afficher_plus {
    width: 100%;
    margin-left: 10px;
}

.intitule_texte_carte_hebergement p {
    margin: 0;
}

.titre_carte {
    margin: 0;
}


/* Populaire */

.conteneur_populaire {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    width: 30%;
    padding: 15px;
    padding-right: 30px;
    border-radius: 15px;
    background-color: brown;
}

.carte_populaire {
    box-shadow: 5px 5px 5px grey;
    display: flex;
    width: 100%;
    height: 20%;
    padding: 5px;
    border-radius: 15px;
    background-color: white;
}

.carte_populaire:hover {
    transform: scale(1.05);
}
.carte_populaire img {
    width: 30%;
    border-radius: 15px 0px 0px 15px;
}

.intitule_carte {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.intitule_populaire {
    width: 90%;
    margin-bottom: 0;
}

.titre_populaire_et_icone {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.sous_titre_carte_populaire {
    margin: 0;
}

/* Activites */

.conteneur_activite {
    display: flex;
    flex-wrap: wrap;
    background-color: yellowgreen;
    padding: 15px;
    justify-content: space-between;
}

.intitule_activite {
    width: 100%;
    margin-top: 12.5px;
    margin-bottom: 25.5px;
}

.carte_activite {
    box-shadow: 5px 5px 5px grey;
    transform: .1s;
    width: 22%;
    background-color: white;
    border-radius: 15px;
}

.carte_activite img {
    aspect-ratio: 9/16;
    object-fit: cover;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.carte_activite:hover {
    transform: scale(1.05);
}

.titre_carte_activite {
    margin-left: 15px;
}

/* Footer */

.conteneur_footer {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 15px;
}

.conteneur_apropos {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.conteneur_nos_hebergements {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.conteneur_assistance {
    width: 30%;
    display: flex;
    flex-direction: column;
}